@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/
.mainContents{
	margin-top: 50px;
}

/* mainVisual
----------------------------------------*/
.mainVisual{
	background: #37952F;
	color: #fff;
}
.mainVisual__inner{
	display: flex;
	flex-direction: column-reverse;
	padding: 20px;
}
.mainVisual__image{
	text-align: center;
}
.mainVisual__catch{
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
}


/* serviceList
----------------------------------------*/
.serviceList{
	display: flex;
	flex-direction: column;
	margin-top: -20px;
}
.serviceList__item{
	max-width: 400px;
	margin: 20px auto 0;
	box-shadow: 0 0 6px rgb(0, 0, 0 / 10%);
	background: #fff;
}
.serviceList__thumb img{
	max-width: none;
	width: 100%;
}
.serviceList__data{
	margin: 20px;
}
.serviceList__data dt{
	font-weight: bold;
	font-size: 20px;
}
.serviceList__data dd{
	margin-top: 10px;
	line-height: 1.875;
}
.serviceList__btn{
	margin: 20px;
}

/* pickupList
----------------------------------------*/
.pickupList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -20px;
}
.pickupList__item{
	width: calc((100% - 15px) / 2);
	margin-top: 20px;
}
.pickupList__item a{
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.pickupList__thumb{
	max-width: none;
	width: 100%;
}
.pickupList__title{
	position: relative;
	margin-top: 1em;
	padding-left: 1em;
	font-size: 14px;
	line-height: 1.28;
}
.pickupList__title::before{
	position: absolute;
	left: 0;
	top: .4em;
	content: "";
	width: .6em;
	height: .6em;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
}